################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CGZT.School.Demo/.vs/CGZT.School.Demo
/.vs
/CGZT.School.Demo/bin/Debug/net5.0
/CGZT.School.Demo/obj
/CGZT.School.Demo.Business/obj
/CGZT.School.Demo.Common/obj
/CGZT.School.Demo.Contracts/obj
/CGZT.School.Demo.DataAccess/obj
/CGZT.School.Demo.Database/obj/Debug
/CGZT.School.Demo.DataContext/obj
/CGZT.School.Demo.Entities/obj
/CGZT.School.Demo.Resources/obj
/CGZT.School.Demo.UnitTest/obj
/CGZT.School.Demo.Database/bin/Debug
/CGZT.School.Demo.Business/bin/Debug/net5.0
/CGZT.School.Demo.Common/bin/Debug/net5.0
/CGZT.School.Demo.Contracts/bin/Debug/net5.0
/CGZT.School.Demo.DataAccess/bin/Debug/net5.0
/CGZT.School.Demo.DataContext/bin/Debug/net5.0
/CGZT.School.Demo.Entities/bin/Debug/net5.0
/CGZT.School.Demo.Resources/bin/Debug/net5.0
/CGZT.School.Demo.UnitTest/bin/Debug/net5.0
/CGZT.School.Demo/Log/SystemLog-20210701.txt
/CGZT.School.Demo/Log/SystemLog-20210630.txt
/CGZT.School.Demo.Database/CGZT.School.Demo.Database.jfm
/CGZT.School.Demo.Database/CGZT.School.Demo.Database.dbmdl
/CGZT.School.Demo/Log/SystemLog-20210704.txt
/CGZT.School.Demo/Log/SystemLog-20210702.txt
